@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --dark-color-a: #575757;
  --dark-color-b: #1cb8a9;
  --light-color: #e3fff8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-display: swap;
  color: var(--dark-color);
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.navbar {
  min-height: 10vh;
  background-color: white;
}
.navbar h3 {
  color: var(--dark-color-a);
}
.navbar .nav-link {
  color: var(--dark-color-a);
}

.details {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-container {
  max-width: 600px;
  color: #fff;
  margin: 1rem;
  min-width: 400px;
}

.details-header {
  text-align: center;
  padding: 20px;
  background: var(--dark-color-a);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.details-header h3 {
  font-size: 1.5rem;
}

.details-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.details-main div {
  font-size: 1.1rem;
  display: flex;
}
.details-field {
  width: 30%;
}
.details-state {
  width: 70%;
}

.details-main .btn1 {
  display: block;
  cursor: pointer;
  margin: 1.5rem auto 0.5rem auto;
  padding: 0.5rem 1rem;
  background: var(--light-color);
  color: var(--dark-color-a);
  width: 100%;
  text-align: center;
  border-radius: 1.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.bank-branches {
  min-height: 90vh;
  width: 100vw;
  color: var(--dark-color-a);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bank-branches-dropdown {
  width: 50%;
  background-color: transparent;
  padding: 1rem;
  color: var(--dark-color-a);
  font-weight: bold;
  border-color: var(--dark-color-a);
  border-radius: 5px;
  margin: 2rem;
}
.bank-branches-table {
  width: 70%;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 5px;
  border: none;
}

@media (max-width: 1300px) {
  .bank-branches-table {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .bank-branches-table {
    width: 90%;
  }

  .details-main div {
    font-size: 1rem;
  }

  .details-main {
    padding: 30px 20px;
  }
}
